# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/configuration-reference
version: 2.1

jobs:
  build-openwrt:
    machine:
      image: circleci/classic:latest
    resource_class: medium+

    environment:
      - REPO_URL: https://github.com/MuTong233/lede
      - REPO_BRANCH: master
      - TZ: Asia/Shanghai

    working_directory: ~/
    steps:
      - run:
          name: Prepare for checkout
          command: |
            mkdir github
      - checkout:
          path: github/

      - run:
          name: generate_cache_hash
          command: |
            echo "$CACHE" > /tmp/ramips-cache
      
      - restore_cache:
          keys:
            - cache1-{{ checksum "/tmp/ramips-cache" }}

      - run:
          name: Clone and Pull Repo
          no_output_timeout: 60m
          command: |
            git clone $REPO_URL  || true
            git config --global user.email "ubuntu@circleci.com"
            git config --global user.name "CircleCI"

      - run:
          name: Initialize environment
          no_output_timeout: 60m
          command: |
            sudo apt update
            sudo apt install -y ack antlr3 asciidoc autoconf automake autopoint binutils bison build-essential bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libreadline-dev libssl-dev libtool lrzsz mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python2.7 python3 python3-pyelftools libpython3-dev qemu-utils rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev python3-setuptools

      - run:
          name: Clear previous builds
          command: |
            rm -rf lede/bin/ || true

      - run:
          name: Update Feeds
          no_output_timeout: 60m
          command: |
            cd lede/
            ./scripts/feeds update -a
            
      - run:
          name: Install Feeds
          no_output_timeout: 60m
          command: |
            cd lede/
            ./scripts/feeds install -a
            
      - run:
          name: Load custom files
          no_output_timeout: 60m
          command: |
            cd lede/
            wget https://github.com/MuTong233/OpenWRT_R3G_Trad/raw/main/.config

      - run:
          name: Build
          no_output_timeout: 360m
          command: |
            cd lede/
            make -j8 download
            make -j8

      - save_cache:
          key: cache1-{{ checksum "/tmp/ramips-cache" }}
          paths:
            - lede/

      - run:
          name: Organize image files
          no_output_timeout: 60m
          command: |
            cd lede/bin/targets/*/*
            rm -rf packages

      - store_artifacts:
          path: lede/bin/targets/

workflows:
  build-openwrt:
    jobs:
      - build-openwrt
